* {
  box-sizing: border-box;
  margin: 0;
}

/* Borders and margin of the body content of the html pages */
body {
  font-size: 16px;
}

/* Major colors used on the project */
/* FADEOUT COLORS used on the project */
/* Buttons-Mixins */
/* Forms */
/*                                  ABOUTUS.HTML PAGE EDITION BELOW                                */
main .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../assets/aboutusheader.jpg");
  background-position: center;
  background-size: cover;
}
main .header .block {
  display: block;
  width: 50%;
  text-align: center;
}
main .header .block h1 {
  color: white;
  text-transform: uppercase;
  font-size: 48px;
}
main .header .block h1 span {
  color: hsl(240deg, 100%, 20%);
}
main .header .block p {
  color: white;
  line-height: 40px;
  font-size: 24px;
}
main .header .block .main-img {
  width: 20%;
}
main .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10% 0%;
  margin: 2% 0%;
  background-color: hsl(240deg, 100%, 20%);
}
main .section .avaliation {
  width: 20%;
  margin-right: 2%;
  background-color: hsla(240deg, 100%, 80%, 0.6);
  border-radius: 5%;
  color: white;
}
main .section .avaliation h2 {
  color: hsl(0deg, 100%, 100%);
  text-align: center;
  margin: 30px 30px 0px 30px;
}
main .section .avaliation h2 span {
  color: hsl(240deg, 100%, 20%);
}
main .section .avaliation p {
  color: white;
  line-height: 20px;
  text-align: center;
  margin: 10px 30px 30px 30px;
}
main .section .opinion1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 2%;
  background-color: hsla(240deg, 100%, 80%, 0.6);
  border-radius: 5%;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .section .opinion1 h2 {
  font-size: 36px;
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion1 h3 {
  color: hsl(0deg, 100%, 100%);
}
main .section .opinion1 h3 span {
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion1 .opinionimg {
  border: 10px solid white;
  width: 80px;
}
main .section .opinion1 .opinionimg p {
  line-height: 30px;
  color: white;
  padding: 0px 20px;
}
main .section .opinion2 {
  background-color: hsla(240deg, 100%, 80%, 0.6);
  width: 30%;
  border-radius: 5%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2%;
}
main .section .opinion2 h2 {
  font-size: 36px;
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion2 h3 {
  color: hsl(0deg, 100%, 100%);
}
main .section .opinion2 h3 span {
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion2 .opinionimg {
  border: 10px solid white;
  width: 80px;
}
main .section .opinion2 p {
  line-height: 30px;
  color: white;
  padding: 0px 20px;
}

.opinion1 p,
.opinion2 p {
  line-height: 30px;
  color: white;
  padding: 0px 20px;
}

/* Mobile Media Query */
@media only screen and (max-width: 425px) {
  main .header .block {
    display: block;
    width: 80%;
    text-align: center;
  }

  main .section {
    flex-direction: column;
  }
  main .section .avaliation {
    width: 80%;
    border-radius: 0%;
  }
  main .section .opinion1 {
    width: 80%;
    border-radius: 0%;
    margin-top: 5%;
  }
  main .section .opinion2 {
    width: 80%;
    border-radius: 0%;
    margin-top: 5%;
  }

  .guarantees h4 {
    padding: 15px;
    margin-right: unset;
  }
}
/*                                 CHECKOUT.HTML PAGE EDITION BELOW                                */
.checkout-page {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.checkout-page .shipping-label {
  flex: 2;
}
.checkout-page .shipping-label .shipping-headers h2 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: rgba(0, 0, 255, 0.5);
  margin: 10px 0px;
  padding: 10px;
}
.checkout-page .shipping-label .shipping-headers h2:hover {
  cursor: default;
}
.checkout-page .shipping-label .checkout-page-form {
  background-color: hsla(240deg, 100%, 80%, 0.6);
  padding: 10px 20px 10px 20px;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress,
.checkout-page .shipping-label .checkout-page-form #payment,
.checkout-page .shipping-label .checkout-page-form #delivery-contact,
.checkout-page .shipping-label .checkout-page-form #submit {
  margin: 40px 0px 40px 0px;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress h3,
.checkout-page .shipping-label .checkout-page-form #payment h3,
.checkout-page .shipping-label .checkout-page-form #delivery-contact h3,
.checkout-page .shipping-label .checkout-page-form #submit h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress h3:hover,
.checkout-page .shipping-label .checkout-page-form #payment h3:hover,
.checkout-page .shipping-label .checkout-page-form #delivery-contact h3:hover,
.checkout-page .shipping-label .checkout-page-form #submit h3:hover {
  cursor: default;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress .form-control-dif,
.checkout-page .shipping-label .checkout-page-form #payment .form-control-dif,
.checkout-page .shipping-label .checkout-page-form #delivery-contact .form-control-dif,
.checkout-page .shipping-label .checkout-page-form #submit .form-control-dif {
  display: inline-block;
  width: 49%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2%;
  margin-bottom: 20px;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress .form-control,
.checkout-page .shipping-label .checkout-page-form #payment .form-control,
.checkout-page .shipping-label .checkout-page-form #delivery-contact .form-control,
.checkout-page .shipping-label .checkout-page-form #submit .form-control {
  width: 99%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2%;
  margin-bottom: 20px;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress .form-phone-first-digits,
.checkout-page .shipping-label .checkout-page-form #payment .form-phone-first-digits,
.checkout-page .shipping-label .checkout-page-form #delivery-contact .form-phone-first-digits,
.checkout-page .shipping-label .checkout-page-form #submit .form-phone-first-digits {
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2%;
  margin-bottom: 20px;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress a,
.checkout-page .shipping-label .checkout-page-form #payment a,
.checkout-page .shipping-label .checkout-page-form #delivery-contact a,
.checkout-page .shipping-label .checkout-page-form #submit a {
  display: inline-block;
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  transition: background-color 500ms linear, color 500ms linear;
  text-decoration: none;
}
.checkout-page .shipping-label .checkout-page-form .shipping-adress a:hover,
.checkout-page .shipping-label .checkout-page-form #payment a:hover,
.checkout-page .shipping-label .checkout-page-form #delivery-contact a:hover,
.checkout-page .shipping-label .checkout-page-form #submit a:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}
.checkout-page .shipping-label .checkout-page-form #i-agree {
  margin-bottom: 30px;
}
.checkout-page .shipping-label .checkout-page-form .submit-button {
  display: inline-block;
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  transition: background-color 500ms linear, color 500ms linear;
  text-decoration: none;
  margin-top: 20px;
}
.checkout-page .shipping-label .checkout-page-form .submit-button:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}
.checkout-page .order-summary {
  flex: 1;
}
.checkout-page .order-summary .contact-us-checkout {
  background-color: rgba(0, 0, 255, 0.5);
  margin: 10px 0px;
  padding: 10px;
  text-align: center;
}
.checkout-page .order-summary .contact-us-checkout .contact-us {
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.checkout-page .order-summary .order-summary {
  padding: 10px 20px 10px 20px;
  background-color: hsla(240deg, 100%, 80%, 0.6);
}
.checkout-page .order-summary .order-summary .contact-us-header h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}
.checkout-page .order-summary .order-summary .subtotal,
.checkout-page .order-summary .order-summary .taxes,
.checkout-page .order-summary .order-summary .shipping,
.checkout-page .order-summary .order-summary .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-page .order-summary .summary {
  padding: 10px 20px 10px 20px;
  background-color: hsla(240deg, 100%, 80%, 0.6);
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.checkout-page .order-summary .summary .bag-summary-header .summary-paragraph {
  color: green;
  font-weight: 700;
}
.checkout-page .order-summary .summary .bag-summary-header .summary-paragraph span {
  color: black;
}
.checkout-page .order-summary .summary .item {
  display: flex;
  gap: 20px;
}
.checkout-page .order-summary .summary .item .image {
  flex: 1;
  background-image: url("../../assets/product1.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
}
.checkout-page .order-summary .summary .item .product-details {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}
.checkout-page .order-summary .summary .item .product-details .edit-remove {
  width: 50%;
  text-align: center;
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px 10px;
  border: 1px solid hsl(240deg, 100%, 50%);
  transition: background-color 500ms linear, color 500ms linear;
  margin-top: 10px;
}
.checkout-page .order-summary .summary .item .product-details .edit-remove:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}

/*                               TABLET VERSION CHECKOUT.HTML PAGE EDITION BELOW                                */
@media only screen and (max-width: 1023px) and (min-width: 426px) {
  .checkout-page .order-summary .summary {
    display: block;
    text-align: center;
  }
  .checkout-page .order-summary .summary .item {
    display: block;
  }
  .checkout-page .order-summary .summary .item .image {
    display: block;
  }
  .checkout-page .order-summary .summary .item .product-details {
    display: block;
  }
  .checkout-page .order-summary .summary .item .product-details .edit-remove {
    width: 50%;
  }
}
/*                               MOBILE CHECKOUT.HTML PAGE EDITION BELOW                                */
@media only screen and (max-width: 425px) {
  .checkout-page {
    display: block;
  }
  .checkout-page .order-summary .contact-us-checkout {
    background-color: rgba(0, 0, 255, 0.5);
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
  }
  .checkout-page .order-summary .order-summary {
    padding: 10px 20px 10px 20px;
    background-color: hsla(240deg, 100%, 80%, 0.6);
  }
  .checkout-page .order-summary .summary {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .checkout-page .order-summary .summary .item {
    display: block;
    text-align: center;
  }
  .checkout-page .order-summary .summary .item .product-details {
    display: block;
  }
}
/*                                 CONTACTUS.HTML EDITION BELOW                                */
.header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;
}
.header-label2 .header-label3 {
  text-align: center;
}
.header-label2 .header-label3 h1 {
  font-size: 1.5rem;
}
.header-label2 .header-label3 .contact-us-image {
  width: 40px;
}

.main-label1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-label1 .login-contactus-forms-label {
  background-color: hsl(240deg, 100%, 50%);
  border: 2px groove black;
  padding: 10px;
  display: block;
  text-align: center;
}
.main-label1 .login-contactus-forms-label .h2-form {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.main-label1 .login-contactus-forms-label p {
  color: white;
}

.header-label1 {
  justify-content: center;
  display: inline-flex;
  width: 50%;
  align-items: center;
}
.header-label1 h1 {
  margin-right: 20px;
  padding-bottom: 10px;
}
.header-label1 h1:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
  cursor: default;
}

ul li {
  list-style: none;
}
ul li a {
  color: black;
  text-decoration: none;
}

.main-contact-us {
  display: flex;
}
.main-contact-us .faq {
  text-align: center;
  flex: 1;
}
.main-contact-us .faq .main-label2 {
  text-align: center;
  margin: 5% 0% 2% 0%;
}
.main-contact-us .faq .qanda {
  margin: 4% 0% 4% 0%;
  border-bottom: 1px solid black;
}
.main-contact-us .faq .qanda .question {
  display: inline-block;
}
.main-contact-us .faq .qanda img {
  vertical-align: middle;
}
.main-contact-us .faq .qanda .answer {
  margin: 0%;
  padding: 20px;
}

.asb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}
.asb img {
  margin: 0px 0px 20px 0px;
  width: 60%;
  height: 400px;
}

/* Mobile Media Query */
@media screen and (max-width: 426px) {
  .main-contact-us {
    display: block;
  }

  .asb img {
    width: 80%;
  }

  .header-label1 {
    width: 100%;
  }
}
/*                                  LOGIN.HTML PAGE EDITION BELOW                                */
.loginmain {
  margin: 5% 0% 5% 0%;
  text-align: center;
}
.loginmain h1 {
  margin-bottom: 0%;
  font-size: 1.5rem;
  margin: 2% 0% 1% 0%;
}
.loginmain h1:hover {
  cursor: default;
}
.loginmain p {
  font-size: 1.2rem;
  margin-top: 50px;
}
.loginmain p .userpass {
  font-weight: 500;
}

.label1 {
  display: flex;
  justify-content: center;
  margin: 2% 0%;
}
.label1 .loginform {
  background-color: hsl(240deg, 100%, 50%);
  border: 2px groove black;
  padding: 10px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.label1 .loginform .usernpass {
  color: white;
}

.label2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.label2 h2 {
  margin: 10px;
  font-weight: 400;
}
.label2 a {
  color: black;
  font-size: 1.5rem;
}
.label2 a a:hover {
  color: hsl(240deg, 100%, 50%);
}

@media only screen and (max-width: 766px) {
  body {
    font-size: 16px;
  }

  nav a {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }

  .label2 {
    font-size: 1rem;
  }
}
.header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;
}
.header-label2 .header-label3 {
  display: block;
  text-align: center;
}
.header-label2 .header-label3 h1 {
  margin: 20px 10px 20px 10px;
  font-size: 1.5rem;
}
.header-label2 .header-label3 h1:hover {
  cursor: default;
}
.header-label2 .header-label3 img {
  width: 40px;
}

.main-label1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-label1 .login-contactus-forms-label {
  background-color: hsl(240deg, 100%, 50%);
  border: 2px groove black;
  padding: 10px;
  display: block;
  text-align: center;
}
.main-label1 .login-contactus-forms-label .h2-form {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.main-label1 .login-contactus-forms-label .h2-form:after {
  cursor: default;
}
.main-label1 .login-contactus-forms-label .agree {
  color: white;
}

/* MAIN MENU OF THE PAGES INDEX, ABOUTUS, FAQ.HTML, CHECKOUTPAGE.HTML*/
.navigation-label1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
}
.navigation-label1 .mainmenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 70%;
}
.navigation-label1 .mainmenu li {
  list-style: none;
  padding: 10px;
  margin-right: 10%;
}
.navigation-label1 .mainmenu li:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
}
.navigation-label1 .mainmenu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.navigation-label1 .mainmenu li a:hover {
  color: hsl(240deg, 100%, 50%);
}
.navigation-label1 .mainmenu li .logo {
  width: 50px;
}

.mainmenu-2 {
  text-align: center;
  display: inline-flex;
  margin-right: 20px;
}
.mainmenu-2 .pesquisar-label {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.mainmenu-2 .pesquisar-label:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
}

.mainmenu-2 .pesquisar-label:hover {
  color: hsl(240deg, 100%, 50%);
}

@media only screen and (max-width: 426px) {
  .navigation-label1 {
    display: block;
    margin-bottom: 20px;
  }
  .navigation-label1 .mainmenu {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .navigation-label1 .mainmenu li {
    margin: 0;
  }
  .navigation-label1 .mainmenu .logo {
    display: none;
  }
}
.mainmenu-2 {
  display: block;
  text-align: center;
}

/* MAIN MENU OF THE PAGES CONTACTUS.HTML, REGISTAR.HTML, LOGIN.HTML */
.mainmenu1 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.mainmenu1 li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.mainmenu1 li:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
}
.mainmenu1 li a {
  text-decoration: none;
  color: black;
}
.mainmenu1 li a:hover {
  color: hsl(240deg, 100%, 50%);
}

/* MAIN MENU OF THE CHECKOUT PAGE */
.checkout-label1 {
  background-color: hsl(240deg, 100%, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-label1 .banner-label-checkout {
  display: inline-flex;
  align-items: center;
}
.checkout-label1 .banner-label-checkout .logo {
  width: 50px;
  margin: 20px;
}
.checkout-label1 .banner-label-checkout h1 {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px;
  font-weight: 300;
  padding: 10px;
  color: white;
}
.checkout-label1 .banner-label-checkout h1:hover {
  color: white;
  border-bottom: 1px solid white;
  cursor: default;
}
.checkout-label1 .banner-label2-checkout {
  display: inline-flex;
  align-items: center;
}
.checkout-label1 .banner-label2-checkout h1 {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px;
  padding: 10px;
  color: white;
}
.checkout-label1 .banner-label2-checkout h1:hover {
  color: white;
  border-bottom: 1px solid white;
  cursor: default;
}
.checkout-label1 .banner-label2-checkout a {
  display: inline-block;
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  transition: background-color 500ms linear, color 500ms linear;
  margin-right: 10px;
  text-decoration: none;
}
.checkout-label1 .banner-label2-checkout a:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}

@media only screen and (max-width: 425px) {
  .checkout-label1 {
    background-color: hsl(240deg, 100%, 50%);
    display: block;
  }
  .checkout-label1 .banner-label-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkout-label1 .banner-label-checkout h1 {
    font-size: 14px;
  }
  .checkout-label1 .banner-label2-checkout {
    display: flex;
    align-items: center;
  }
  .checkout-label1 .banner-label2-checkout h1 {
    font-size: 14px;
  }
}
/* FOOTER OF THE LOGIN, REGISTAR AND CONTACT US PAGES */
.footer {
  margin: 5% 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.footer h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
.footer .socialmedia img {
  height: 50px;
  padding: 0% 1%;
}

/* ----------------------------------------------------- */
/* FOOTER OF THE PAGES INDEX.HTML AND ABOUTUS.HTML */
.guarantees {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 3%;
}
.guarantees h4 {
  text-align: center;
  background-color: hsl(240deg, 100%, 20%);
  color: white;
  font-weight: 400;
  padding: 30px;
  font-size: 16px;
  margin-right: 5%;
  letter-spacing: 1px;
}

.submenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.submenu li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-right: 10%;
}
.submenu li:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
}
.submenu a {
  text-decoration: none;
  color: black;
}
.submenu a:hover {
  color: hsl(240deg, 100%, 50%);
}

@media only screen and (max-width: 426px) {
  .guarantees {
    display: unset;
  }
  .guarantees .guarantees h4 {
    text-align: left;
  }
}
/*                                   INDEX.HTML PAGE EDITION BELOW                                */
.banner {
  background-image: url(../../assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
@media (max-width: 426px) {
  .banner {
    min-height: 400px;
    flex-direction: column;
  }
}
.banner .banner-label {
  min-width: 250px;
  min-height: 150px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}
.banner .banner-label:hover {
  background-color: rgba(0, 0, 0, 0.5803921569);
  cursor: default;
}
.banner .banner-label h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.banner .banner-label h1:hover {
  cursor: default;
}
.banner .banner-label a {
  color: white;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 2px groove white;
}
.banner .banner-label a:hover {
  padding: 10px 10px 10px 10px;
}

.discover-out-products {
  text-align: center;
  margin: 100px 0px 100px 0px;
}
.discover-out-products h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 8% auto;
}
.products .product1-banner,
.products .product2-banner,
.products .product3-banner {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 723px) {
  .products .product1-banner,
.products .product2-banner,
.products .product3-banner {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1023px) {
  .products .product1-banner,
.products .product2-banner,
.products .product3-banner {
    max-width: 33.33%;
  }
}
.products .product1-banner .product-image,
.products .product2-banner .product-image,
.products .product3-banner .product-image {
  width: 100%;
}
.products .product1-banner .product-button,
.products .product2-banner .product-button,
.products .product3-banner .product-button {
  display: inline-block;
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  transition: background-color 500ms linear, color 500ms linear;
  text-decoration: none;
}
.products .product1-banner .product-button:hover,
.products .product2-banner .product-button:hover,
.products .product3-banner .product-button:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}
.products .product1-banner .producth2,
.products .product2-banner .producth2,
.products .product3-banner .producth2 {
  margin-bottom: 50px;
}

.products-presentation-label {
  display: flex;
  flex-direction: column;
}
.products-presentation-label #product-1,
.products-presentation-label #product-2,
.products-presentation-label #product-3 {
  text-align: center;
  width: 50%;
  margin: 0 auto 30px auto;
  background-color: #ffa500;
  padding: 2% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  transition: background-color 500ms linear;
}
.products-presentation-label #product-1:hover,
.products-presentation-label #product-2:hover,
.products-presentation-label #product-3:hover {
  background-color: rgba(255, 165, 0, 0.8);
}
.products-presentation-label #product-1 .product-image,
.products-presentation-label #product-2 .product-image,
.products-presentation-label #product-3 .product-image {
  width: 50%;
  align-self: center;
}
.products-presentation-label #product-1 .Shop-button,
.products-presentation-label #product-2 .Shop-button,
.products-presentation-label #product-3 .Shop-button {
  display: inline-block;
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  transition: background-color 500ms linear, color 500ms linear;
  align-self: center;
  text-decoration: none;
}
.products-presentation-label #product-1 .Shop-button:hover,
.products-presentation-label #product-2 .Shop-button:hover,
.products-presentation-label #product-3 .Shop-button:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}

@media only screen and (max-width: 426px) {
  .discover-out-products {
    margin: 50px 0px 50px 0px;
  }

  .products-presentation-label {
    display: flex;
    flex-direction: column;
  }
  .products-presentation-label #product-1,
.products-presentation-label #product-2,
.products-presentation-label #product-3 {
    width: 80%;
    min-height: 300px;
    justify-content: center;
  }
  .products-presentation-label #product-1 .Shop-button,
.products-presentation-label #product-2 .Shop-button,
.products-presentation-label #product-3 .Shop-button {
    display: inline-block;
    background-color: hsl(240deg, 100%, 50%);
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 10px 30px;
    border: 1px solid hsl(240deg, 100%, 50%);
    padding: 10px 10px;
  }
}

/*# sourceMappingURL=index.css.map */
