* {
  box-sizing: border-box;
}

/* Borders and margin of the body content of the html pages */
body {
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}

/* Major colors used on the project */
/* Buttons-Mixins */
/* Forms */
/* MAIN MENU OF THE PAGES INDEX AND ABOUT US */
.mainmenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 70%;
  padding: 0;
  margin: 0;
}
.mainmenu li {
  list-style: none;
  padding: 10px;
  margin-right: 10%;
}
.mainmenu li:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
}
.mainmenu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.mainmenu li a:hover {
  color: hsl(240deg, 100%, 50%);
}

.mainmenu-2 {
  width: 29%;
  text-align: center;
  display: inline-flex;
  padding-left: 0;
}
.mainmenu-2 .pesquisar-label {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.mainmenu-2 .pesquisar-label:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
}

.mainmenu-2 .pesquisar-label:hover {
  color: hsl(240deg, 100%, 50%);
}

/* MAIN MENU OF THE PAGES CONTACTUS.HTML, REGISTAR.HTML, LOGIN.HTML */
.mainmenu1 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.mainmenu1 li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.mainmenu1 li:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
}
.mainmenu1 li a {
  text-decoration: none;
  color: black;
}
.mainmenu1 li a:hover {
  color: hsl(240deg, 100%, 50%);
}

/* FOOTER OF THE LOGIN, REGISTAR AND CONTACT US PAGES */
.footer {
  margin: 5% 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.footer h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

/* ----------------------------------------------------- */
/* FOOTER OF THE PAGES INDEX.HTML AND ABOUTUS.HTML */
.guarantees {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 3%;
}
.guarantees h4 {
  text-align: center;
  background-color: hsl(240deg, 100%, 20%);
  color: white;
  font-weight: 400;
  padding: 30px;
  font-size: 16px;
  margin-right: 5%;
  letter-spacing: 1px;
}

.submenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.submenu li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-right: 10%;
}
.submenu li:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
}
.submenu a {
  text-decoration: none;
  color: black;
}
.submenu a:hover {
  color: hsl(240deg, 100%, 50%);
}

@media only screen and (max-width: 426px) {
  .guarantees {
    display: unset;
  }
}
.logo {
  width: 50px;
}

/*                                   INDEX.HTML PAGE EDITION BELOW                                */
.banner {
  background-image: url(../../assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.banner .banner-label {
  width: 20%;
  text-align: center;
  height: 50%;
  border: 1px solid white;
  border-radius: 10px;
}
.banner .banner-label:hover {
  background-color: rgba(0, 0, 0, 0.5803921569);
  cursor: default;
}
.banner .banner-label h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.banner .banner-label h1:hover {
  cursor: default;
}
.banner .banner-label a {
  color: white;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 2px groove white;
}
.banner .banner-label a:hover {
  padding: 10px 10px 10px 10px;
}

.discover-out-products {
  text-align: center;
  margin: 100px 0px 100px 0px;
}
.discover-out-products h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.products {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 8% auto;
}
.products .product1-banner, .products .product2-banner, .products .product3-banner {
  text-align: center;
  flex: 1;
}
.products .product1-banner .product-button, .products .product2-banner .product-button, .products .product3-banner .product-button {
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  width: 25%;
  transition: background-color 500ms linear, color 500ms linear;
  text-decoration: none;
}
.products .product1-banner .product-button:hover, .products .product2-banner .product-button:hover, .products .product3-banner .product-button:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}
.products .product1-banner .producth2, .products .product2-banner .producth2, .products .product3-banner .producth2 {
  margin-bottom: 50px;
}

.products-presentation-label {
  display: flex;
  flex-direction: column;
}
.products-presentation-label .product-1, .products-presentation-label .product-2, .products-presentation-label .product-3 {
  text-align: center;
  width: 50%;
  margin: 0 auto 30px auto;
  background-color: orange;
  padding: 2% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.products-presentation-label .product-1 .Shop-button, .products-presentation-label .product-2 .Shop-button, .products-presentation-label .product-3 .Shop-button {
  background-color: hsl(240deg, 100%, 50%);
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid hsl(240deg, 100%, 50%);
  width: 25%;
  transition: background-color 500ms linear, color 500ms linear;
  align-self: center;
  text-decoration: none;
}
.products-presentation-label .product-1 .Shop-button:hover, .products-presentation-label .product-2 .Shop-button:hover, .products-presentation-label .product-3 .Shop-button:hover {
  color: hsl(240deg, 100%, 20%);
  background-color: white;
}

@media only screen and (max-width: 426px) {
  nav {
    display: block;
    margin-bottom: 20px;
  }

  .mainmenu {
    display: flex;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .mainmenu li {
    margin: 0;
  }
  .mainmenu .logo {
    display: none;
  }

  .mainmenu-2 {
    display: block;
    width: 100%;
    text-align: center;
  }

  .banner {
    min-height: 400px;
    flex-direction: column;
  }
  .banner .banner-label {
    display: block;
    width: 80%;
    height: 40%;
  }

  .discover-out-products {
    margin: 50px 0px 50px 0px;
  }

  .products {
    flex-direction: column;
  }
  .products .product1-banner, .products .product2-banner, .products .product3-banner {
    text-align: center;
    min-height: 300px;
  }

  .products-presentation-label {
    display: flex;
    flex-direction: column;
  }
  .products-presentation-label .product-1, .products-presentation-label .product-2, .products-presentation-label .product-3 {
    width: 80%;
    min-height: 300px;
    justify-content: center;
  }
  .products-presentation-label .product-1 .Shop, .products-presentation-label .product-2 .Shop, .products-presentation-label .product-3 .Shop {
    width: 50%;
  }
  .products-presentation-label .guarantees h4 {
    text-align: left;
  }
}
/*                                  ABOUTUS.HTML PAGE EDITION BELOW                                */
main .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../assets/aboutusheader.jpg");
  background-position: center;
  background-size: cover;
}
main .header .block {
  display: block;
  width: 50%;
  text-align: center;
}
main .header .block h1 {
  color: white;
  text-transform: uppercase;
  font-size: 48px;
}
main .header .block h1 span {
  color: hsl(240deg, 100%, 20%);
}
main .header .block p {
  color: white;
  line-height: 40px;
  font-size: 24px;
}
main .header .block .main-img {
  width: 20%;
}
main .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10% 0%;
  margin: 2% 0%;
  background-color: hsl(240deg, 100%, 20%);
}
main .section .avaliation {
  width: 20%;
  margin-right: 2%;
  background-color: hsla(240deg, 100%, 80%, 0.6);
  border-radius: 5%;
  color: white;
}
main .section .avaliation h2 {
  color: hsl(0deg, 100%, 100%);
  text-align: center;
  margin: 30px 30px 0px 30px;
}
main .section .avaliation h2 span {
  color: hsl(240deg, 100%, 20%);
}
main .section .avaliation p {
  color: white;
  line-height: 20px;
  text-align: center;
  margin: 10px 30px 30px 30px;
}
main .section .opinion1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 2%;
  background-color: hsla(240deg, 100%, 80%, 0.6);
  border-radius: 5%;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .section .opinion1 h2 {
  font-size: 36px;
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion1 h3 {
  color: hsl(0deg, 100%, 100%);
}
main .section .opinion1 h3 span {
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion1 .opinionimg {
  border: 10px solid white;
  width: 80px;
}
main .section .opinion1 .opinionimg p {
  line-height: 30px;
  color: white;
  padding: 0px 20px;
}
main .section .opinion2 {
  background-color: hsla(240deg, 100%, 80%, 0.6);
  width: 30%;
  border-radius: 5%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2%;
}
main .section .opinion2 h2 {
  font-size: 36px;
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion2 h3 {
  color: hsl(0deg, 100%, 100%);
}
main .section .opinion2 h3 span {
  color: hsl(240deg, 100%, 20%);
}
main .section .opinion2 .opinionimg {
  border: 10px solid white;
  width: 80px;
}
main .section .opinion2 p {
  line-height: 30px;
  color: white;
  padding: 0px 20px;
}

.opinion1 p,
.opinion2 p {
  line-height: 30px;
  color: white;
  padding: 0px 20px;
}

/* Mobile Media Query */
@media only screen and (max-width: 425px) {
  main .header .block {
    display: block;
    width: 80%;
    text-align: center;
  }

  main .section {
    flex-direction: column;
  }
  main .section .avaliation {
    width: 80%;
    border-radius: 0%;
  }
  main .section .opinion1 {
    width: 80%;
    border-radius: 0%;
    margin-top: 5%;
  }
  main .section .opinion2 {
    width: 80%;
    border-radius: 0%;
    margin-top: 5%;
  }

  .guarantees h4 {
    padding: 15px;
    margin-right: unset;
  }
}
/*                                  REGISTAR.HTML PAGE EDITION BELOW                                */
.header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;
}
.header-label2 .header-label3 {
  display: block;
  text-align: center;
}
.header-label2 .header-label3 h1 {
  margin: 20px 10px 20px 10px;
  font-size: 1.5rem;
}
.header-label2 .header-label3 h1:hover {
  cursor: default;
}
.header-label2 .header-label3 img {
  width: 40px;
}

.main-label1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-label1 .login-contactus-forms-label {
  background-color: hsl(240deg, 100%, 50%);
  border: 2px groove black;
  padding: 15px;
  display: block;
  text-align: center;
}
.main-label1 .login-contactus-forms-label .h2-form {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.main-label1 .login-contactus-forms-label .h2-form:after {
  cursor: default;
}
.main-label1 .login-contactus-forms-label .agree {
  color: white;
}

/*                                  LOGIN.HTML PAGE EDITION BELOW                                */
.loginmain {
  margin: 5% 0% 5% 0%;
  text-align: center;
}
.loginmain h1 {
  margin-bottom: 0%;
  font-size: 1.5rem;
  margin: 2% 0% 1% 0%;
}
.loginmain h1:hover {
  cursor: default;
}
.loginmain p {
  font-size: 1.2rem;
  margin-top: 50px;
}
.loginmain p .userpass {
  font-weight: 500;
}

.label1 {
  display: flex;
  justify-content: center;
  margin: 2% 0%;
}
.label1 .loginform {
  background-color: hsl(240deg, 100%, 50%);
  border: 2px groove black;
  padding: 15px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.label1 .loginform .usernpass {
  color: white;
}

.label2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.label2 h2 {
  margin: 10px;
  font-weight: 400;
}
.label2 a {
  color: black;
  font-size: 1.5rem;
}
.label2 a a:hover {
  color: hsl(240deg, 100%, 50%);
}

@media only screen and (max-width: 766px) {
  body {
    font-size: 16px;
  }

  nav a {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }

  .label2 {
    font-size: 1rem;
  }
}
/*                                  FAQ.HTML PAGE EDITION BELOW                                */
nav {
  display: flex;
  align-items: center;
}

ul {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.header-label1 {
  justify-content: center;
  display: inline-flex;
  width: 50%;
  align-items: center;
}
.header-label1 h1 {
  margin-right: 20px;
  padding-bottom: 10px;
}
.header-label1 h1:hover {
  border-bottom: 1px solid hsl(240deg, 100%, 50%);
  color: hsl(240deg, 100%, 50%);
  cursor: default;
}

ul li {
  list-style: none;
}
ul li a {
  color: black;
  text-decoration: none;
}

.main-contact-us {
  display: flex;
}
.main-contact-us .faq {
  text-align: center;
  flex: 1;
}
.main-contact-us .faq .main-label2 {
  text-align: center;
  margin: 5% 0% 2% 0%;
}
.main-contact-us .faq .qanda {
  margin: 4% 0% 4% 0%;
  border-bottom: 1px solid black;
}
.main-contact-us .faq .qanda .question {
  display: inline-block;
}
.main-contact-us .faq .qanda img {
  vertical-align: middle;
}
.main-contact-us .faq .qanda .answer {
  margin: 0%;
  padding: 20px;
}

.asb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}
.asb img {
  margin: 0px 0px 20px 0px;
  width: 60%;
  height: 400px;
}

/* Mobile Media Query */
@media screen and (max-width: 426px) {
  .main-contact-us {
    display: block;
  }

  .asb img {
    width: 80%;
  }

  .header-label1 {
    width: 100%;
  }
}
/*                                 CONTACTUS.HTML EDITION BELOW                                */
.header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;
}
.header-label2 .header-label3 {
  text-align: center;
}
.header-label2 .header-label3 h1 {
  font-size: 1.5rem;
}

.main-label1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-label1 .login-contactus-forms-label {
  background-color: hsl(240deg, 100%, 50%);
  border: 2px groove black;
  padding: 15px;
  display: block;
  text-align: center;
}
.main-label1 .login-contactus-forms-label .h2-form {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.main-label1 .login-contactus-forms-label p {
  color: white;
}

.socialmedia img {
  display: inlineblock;
  height: 50px;
  padding: 0% 1%;
}

/*# sourceMappingURL=index.css.map */
