/* MAIN MENU OF THE PAGES INDEX, ABOUTUS, FAQ.HTML, CHECKOUTPAGE.HTML*/

.navigation-label1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;

  .mainmenu {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    min-width: 70%;
    li {
      list-style: none;
      padding: 10px;
      margin-right: 10%;
      &:hover {
        border-bottom: 1px solid $blue;
        color: $blue;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        &:hover {
          color: $blue;
        }
      }
      .logo {
        width: 50px;
      }
    }
  }
}

.mainmenu-2 {
  text-align: center;
  display: inline-flex;
  margin-right: 20px;
  .pesquisar-label {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
}

.mainmenu-2 .pesquisar-label:hover {
  color: $blue;
}

@media only screen and (max-width: 426px) {
  .navigation-label1 {
    display: block;
    margin: 20px;

    .mainmenu {
      display: flex;
      text-align: left;
      margin-bottom: 10px;
      width: 100%;
      li {
        margin: 0;
      }
      .logo {
        display: none;
      }
    }
  }
}

.mainmenu-2 {
  display: block;
  text-align: center;
  #pesquisar {
    border: 2px solid black
  }
}

/* MAIN MENU OF THE PAGES CONTACTUS.HTML, REGISTAR.HTML, LOGIN.HTML */

.mainmenu1 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    &:hover {
      border-bottom: 1px solid $blue;
      color: $blue;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $blue;
      }
    }
  }
}

/* MAIN MENU OF THE CHECKOUT PAGE */

.checkout-label1 {
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .banner-label-checkout {
    display: inline-flex;
    align-items: center;
    .logo {
      width: 50px;
      margin: 20px;
    }
    h1 {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      margin: 20px;
      font-weight: 300;
      padding: 10px;
      color: white;
      &:hover {
        color: white;
        border-bottom: 1px solid white;
        cursor: default;
      }
    }
  }

  .banner-label2-checkout {
    display: inline-flex;
    align-items: center;
    h1 {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      margin: 10px;
      padding: 10px;
      color: white;
      &:hover {
        color: white;
        border-bottom: 1px solid white;
        cursor: default;
      }
    }
    a {
      @include button-details($blue, 0px);
      @include buttons-hover($darkblue);
      transition: background-color 500ms linear, color 500ms linear;
      margin-right: 10px;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 425px) {
  .checkout-label1 {
    background-color: $blue;
    display: block;
    .banner-label-checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 14px;
      }
    }

    .banner-label2-checkout {
      display: flex;
      align-items: center;
      h1 {
        font-size: 14px;
      }
    }
  }
}
