/*                                 CONTACTUS.HTML EDITION BELOW                                */


.header-label2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 1% 0%;
      .header-label3 {
      text-align: center;
         h1 {
          font-size: 1.5rem;
        }
      }
  }
  
  
  .main-label1 {
    display: flex;
    align-items: center;
    justify-content: center;
    .login-contactus-forms-label {
      @include forms($blue, 10px);
      display: block;
      text-align: center;
      .h2-form {
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
      }
      p {
        color: white;
      }
    }
  }
  
  