.header-label2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 1% 0%;
  
      .header-label3 {
        display: block;
        text-align: center;
           h1 {
              margin: 20px 10px 20px 10px;
              font-size: 1.5rem;
              &:hover {
                cursor: default;
              }
            }
  
      img {
        width: 40px;
      }
    }
  }
  
  
  .main-label1 {
    display: flex;
    width: 100%;
    justify-content: center;
  
    .login-contactus-forms-label {
      @include forms($blue, 10px);
      display: block;
      text-align: center;
      .h2-form {
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
          &:after {
            cursor: default;
          }    
        }
        
      .agree {
        color: white;
      }
    }  
  }
  