/* Footer of the login, registar and contact us pages */

.footer {
  margin: 5% 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
    h2 {
      font-weight: 600;
      font-size: 1.5rem;
    }
}


/* ----------------------------------------------------- */

/* footer of the pages index and aboutus */


.guarantees {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 3%;
    h4 {
      text-align: center;
      background-color: $darkblue;
      color: white;
      font-weight: 400;
      padding: 30px;
      font-size: 16px;
      margin-right: 5%;
      letter-spacing: 1px;
    }
}

.submenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right: 10%;
      &:hover {
        border-bottom: 1px solid $blue;
        color: $blue;
    }
  }

  a {
    text-decoration: none;
    color: black;
      &:hover {
        color: $blue;
      }
    }
  }



@media only screen and (max-width: 426px) {

  
  .guarantees {
    display: unset;
  }
}