body {
  font-size: 16px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.mainmenu1 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mainmenu1 li {
  list-style: none;
  display: inline-block;
  margin-right:0;
}

.mainmenu1 li:hover {
  border-bottom: 1px solid hsla(240, 100%, 50%, 1);
  color: hsla(240, 100%, 50%, 1);
}

.mainmenu1 li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.mainmenu1 a:hover {
  color: hsla(240, 100%, 50%, 1);
}

main h1 {
  margin-bottom: 0%;
  font-size: 1.5rem;
  margin: 2% 0% 1% 0%;
}

main h1:hover {
  cursor: default;
}

main .userpass {
  font-weight: 500;
}

main p {
  font-size: 1.2rem;
  margin-top: 50px;
}

main p:hover {
  cursor: default;
}

#label {
  display: flex;
  justify-content: center;
  margin: 2% 0%;
}

.loginform {
  display: block;
  text-align: center;
  background-color: hsla(240, 100%, 60%, 1);
  padding: 20px;
  border: 1px groove black;
  margin-top: 20px;
}

.loginform .usernpass {
  color: white;
}

#label2 {
  font-size: 1.5rem;
  font-weight: 400;
}

#label2 h2 {
  margin: 10px;
  font-weight: 400;
}

#label2 a {
  color: black;
  font-size: 1.5rem;
}

#label2 a:hover {
  color: hsla(240, 100%, 50%, 1);
}

  .socialmedia img {
    display: inlineblock;
    height: 50px;
    padding: 0% 1%;
  }

@media only screen and (max-width: 766px) {
  body {
    font-size: 16px;
  }

  nav a {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }
  #label2 {
    font-size: 1rem;
  }

  footer h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}
