.loginmain {
  margin: 5% 0% 5% 0%;
  text-align: center;
}


.loginmain h1 {
  margin-bottom: 0%;
  font-size: 1.5rem;
  margin: 2% 0% 1% 0%;
}

.loginmain h1:hover {
  cursor: default;
}

.loginmain .userpass {
  font-weight: 500;
}

.loginmain p {
  font-size: 1.2rem;
  margin-top: 50px;
}

main p:hover {
  cursor: default;
}

.label1 {
  display: flex;
  justify-content: center;
  margin: 2% 0%;
}

.loginform {
  display: block;
  text-align: center;
  background-color: $blue;
  padding: 20px;
  border: 1px groove black;
  margin-top: 20px;
}

.loginform .usernpass {
  color: white;
}

.label2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.label2 h2 {
  margin: 10px;
  font-weight: 400;
}

.label2 a {
  color: black;
  font-size: 1.5rem;
}

.label2 a:hover {
  color: $blue;
}

  .socialmedia img {
    display: inlineblock;
    height: 50px;
    padding: 0% 1%;
  }

@media only screen and (max-width: 766px) {
  body {
    font-size: 16px;
  }

  nav a {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }
  .label2 {
    font-size: 1rem;
  }

}
