body {
  font-size: 16px;
   margin: 10px 10px 10px 10px;
}

.mainmenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mainmenu li {
  list-style: none;
  display: inline-block;
}

.mainmenu li:hover {
  border-bottom: 1px solid hsla(240, 100%, 50%, 1);
  color: hsla(240, 100%, 50%, 1);
}

.mainmenu li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.mainmenu a:hover {
  color: hsla(240, 100%, 50%, 1);
}

#header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;
}

.header-label3 {
  display: block;
  text-align: center;
}

.header-label3 h1 {
  margin: 20px 10px 20px 10px;
  font-size: 1.5rem;
}

.header-label3 h1:hover {
  cursor: default;
}

.header-label3 p {
  font-size: 1rem;
}

.header-label3 img {
  width: 40px;
}

.main-label1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

form {
  padding: 0px 15px 15px 15px;
  display: block;
  text-align: center;
  background-color: hsla(240, 100%, 60%, 1);
  border: 1px groove black;
}

form h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

form .agree {
  color: white;
}

form h2:hover {
  cursor: default;
}

.socialmedia img {
  display: inlineblock;
  height: 50px;
  padding: 0% 1%;
}
