@import "variables.scss";
@import "aboutus.scss";
@import "contactus.scss";
@import "faq.scss";
@import "login.scss";
@import "registar.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

/* Borders and margin of the body content of the html pages */

body {
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}



.logo {
  width: 50px;
}

/* ------------------------------------ */


/* Main menu of the pages index.html and aboutus.html */

.mainmenu {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 70%;
  padding: 0;
  margin: 0;
}

.mainmenu li {
  list-style: none;
  padding: 10px;
  margin-right: 10%;
}

.mainmenu li:hover {
  border-bottom: 1px solid $blue;
  color: $blue;
}

.mainmenu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.mainmenu a:hover {
  color: $blue;
}


/* ------------------------------------ */


/* Main menu 2 of the pages index.html and aboutus.html */

.mainmenu-2 {
  width: 29%;
  text-align: center;
  display: inline-flex;
  padding-left: 0;
}

.mainmenu-2 #pesquisar {
  margin-left: 10px;
  border-radius: 5px;
}

.mainmenu-2 label {
  padding: 10px;
}

.mainmenu-2 label:hover {
  border-bottom: 1px solid $blue;
}

.mainmenu-2 .pesquisar-label:hover {
  color: $blue;
}


/* ------------------------------------ */


/* Main menu of the pages Contactus.html, registar.html, login.html */


.mainmenu1 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mainmenu1 li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.mainmenu1 li:hover {
  border-bottom: 1px solid $blue;
  color: $blue;
}

.mainmenu1 li a {
  text-decoration: none;
  color: black;
}

.mainmenu1 a:hover {
  color: $blue;
}

/* ------------------------------------ */


/* Index.html design below */
  
.banner {
  background-image: url(../../assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.banner-label {
  width: 20%;
  text-align: center;
  height: 50%;
  border: 1px solid white;
  border-radius: 10px;
}

.banner-label2 {
  width: 20%;
    height: 50%;
    background-color: red;
}


.banner-label:hover {
  background-color: #00000094;
  cursor: default;
}

.banner-label h1:hover{
  cursor: default;
}


.banner-label a {
  color: white;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 2px groove white;
}

.banner-label a:hover {
  padding: 10px 10px 10px 10px
}


.banner-label h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}


.discover-out-products {
  text-align: center;
  margin: 100px 0px 100px 0px;
}

.discover-out-products h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.products {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 8% auto;
}


.product1-banner, .product2-banner, .product3-banner {
  display: inline-block;
  text-align: center;
}

.productsanchor {
  background-color: $blue;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 30px;
  border: 1px solid $blue;
  transition: background-color 500ms linear, color 500ms linear;
  text-decoration: none;
}

.productsanchor:hover {
  background-color: white;
  color: $blue;
}

.producth2 {
  margin-bottom: 50px;
}

.products-presentation-label {
  display: flex;
  flex-direction: column;
}

.product-1,
.product-2,
.product-3 {
  text-align: center;
  width: 50%;
  margin: 0 auto 30px auto;
  background-color: orange;
  padding: 2% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Shop {
  background-color: $blue;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 10px;
  border: 1px solid $blue;
  transition: background-color 500ms linear, color 500ms linear;
  width: 25%;
  align-self: center;
  text-decoration: none;
}

.Shop:hover {
  background-color: white;
  color: $blue;
}

/* Mobile media query */


@media screen and (max-width: 426px) {

  
  /* Media query of the menu of the index and about us page (mobile) */

  nav {
    display:block;
    margin-bottom: 20px;
  }

  .mainmenu {
    display:block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .mainmenu li {
    margin: 0;
  }

  .mainmenu-2 {
    display: block;
    width: 100%;
    text-align:center;
  }

  .logo {
    display: none;
  }

  .banner {
      min-height: 400px;
      flex-direction: column;
  }

  .banner-label{
    display: block;
    width: 50%;
    height: 40%;
  }

  /*------------------------------------------------------------------------------------------ */


  .discover-out-products  {
    margin: 50px 0px 50px 0px;
  }

  .product1-banner, .product2-banner, .product3-banner {
    display: inline-block;
    text-align: center;
    min-height: 300px;
  }

 .products {
   display: block;
   margin: 0;
 } 

.product-1,
.product-2,
.product-3 {
  width: 100%;
  min-height: 300px;
  justify-content: center;
}

.Shop {
  width: 50%;
}

.guarantees h4 {
  text-align:center;
}

.main-pages {
  margin: 0;
}
}


