@import "resets.scss";
@import "variables.scss";
@import "menus.scss";
@import "footer.scss";




/*                                   INDEX.HTML PAGE EDITION BELOW                                */
  
.banner {
  background-image: url(../../assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;

  .banner-label {
    width: 20%;
    text-align: center;
    height: 50%;
    border: 1px solid white;
    border-radius: 10px;
          &:hover {
          background-color: #00000094;
          cursor: default;
    }

      h1 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 20px;
          &:hover {
          cursor: default;
        }
    }

      a {
        color: white;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        letter-spacing: 2px;
        border: 2px groove white;
          &:hover {
          padding: 10px 10px 10px 10px
          }
        }
    }
}




.discover-out-products {
  text-align: center;
  margin: 100px 0px 100px 0px;
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


.products {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 8% auto;

    .product1-banner, .product2-banner, .product3-banner {
      text-align: center;
      flex: 1;

      .product-button {
        @include button-details($blue, 25%, 20px);
        transition: background-color 500ms linear, color 500ms linear;
        text-decoration: none;
        @include buttons-hover($darkblue)
      }

      .producth2 {
        margin-bottom: 50px;
      }
    }
}




.products-presentation-label {
  display: flex;
  flex-direction: column;

    .product-1, .product-2, .product-3 {
      text-align: center;
      width: 50%;
      margin: 0 auto 30px auto;
      background-color: orange;
      padding: 2% 5% 2% 5%;
      display: flex;
      flex-direction: column;
      align-content: center;

      .Shop-button {
        @include button-details($blue, 25%, 20px);
        transition: background-color 500ms linear, color 500ms linear;
        align-self: center;
        text-decoration: none;
        @include buttons-hover($darkblue);
        }
      }   
}


@media only screen and (max-width: 426px) {


  .banner {
      min-height: 400px;
      flex-direction: column;
      .banner-label{
        display: block;
        width: 80%;
        height: 40%;
      }
  }

  .discover-out-products  {
    margin: 50px 0px 50px 0px;
  }

  .products {
    flex-direction: column;

  .product1-banner, .product2-banner, .product3-banner {
    text-align: center;
    min-height: 300px;
  }
}


.products-presentation-label {
  display: flex;
  flex-direction: column;

    .product-1, .product-2, .product-3 {
         width: 80%;
         min-height: 300px;
        justify-content: center;
    .Shop {
        width: 50%;
      }
    }

.guarantees h4 {
  text-align:left;
      }
  }

}


/*                                  ABOUTUS.HTML PAGE EDITION BELOW                                */
  


main {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("../../assets/aboutusheader.jpg");
    background-position: center;
    background-size: cover;
      .block {
        display: block;
        width: 50%;
        text-align: center;
          h1 {
            color: white;
            text-transform: uppercase;
            font-size: 48px;
              span {
              color: $darkblue;
            }
          }
          p {
            color: white;
            line-height: 40px;
            font-size: 24px;
          }
          .main-img {
            width: 20%;
          }
      }
    }
    .section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10% 0%;
      margin: 2% 0%;
      background-color: $darkblue;
        .avaliation {
          width: 20%;
          margin-right: 2%;
          background-color: $lightblue;
          border-radius: 5%;
          color: white;
            h2 {
            color: hsl(0, 100%, 100%, 1);
            text-align: center;
            margin: 30px 30px 0px 30px;
              span {
                color: $darkblue;
              }
            }
            p {
              color: white;
              line-height: 20px;
              text-align: center;
              margin: 10px 30px 30px 30px;
            }
        }
        .opinion1 {
          display:flex;
          flex-direction: column;
          width: 30%;
          margin-right: 2%;
          background-color: $lightblue;
          border-radius: 5%;
          min-height: 500px;
          align-items: center;
          justify-content:center;
          text-align: center;
          h2 {
            font-size: 36px;
            color: $darkblue;
          }
          h3 {
            color: hsl(0, 100%, 100%, 1);
            span {
              color: $darkblue;
            }
          }
          .opinionimg {
            border: 10px solid white;
            width: 80px;
            p {
              line-height: 30px;
              color: white;
              padding:0px 20px;
            }
}

        }
        .opinion2 {
          background-color: $lightblue;
          width: 30%;
          border-radius: 5%;
          min-height: 500px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content:center;
          text-align: center;
          margin-right: 2%;
          
              h2 {
              font-size: 36px;
              color: $darkblue;
            }
              h3 {
              color: hsl(0, 100%, 100%, 1);
                span {
                  color: $darkblue;
              }
            }
            .opinionimg {
              border: 10px solid white;
              width: 80px;
            }
              p {
              line-height: 30px;
              color: white;
              padding:0px 20px;
            }
        }
      }
  }


.opinion1 p,
.opinion2 p {
  line-height: 30px;
  color: white;
  padding:0px 20px;
}


/* Mobile Media Query */

@media only screen and (max-width: 425px) {
  main .header .block {
    display: block;
    width: 80%;
    text-align: center;
  }
  
  main {
  .section {
    flex-direction: column;
    .avaliation {
      width: 80%;
      border-radius: 0%;
    }
    .opinion1 {
      width: 80%;
      border-radius: 0%;
      margin-top: 5%;
    }
    .opinion2 {
      width: 80%;
      border-radius: 0%;
      margin-top: 5%;

    }
  }
  }
  .guarantees h4 {
    padding: 15px;
    margin-right: unset;
  }
}




/*                                  REGISTAR.HTML PAGE EDITION BELOW                                */


.header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;

    .header-label3 {
      display: block;
      text-align: center;
         h1 {
            margin: 20px 10px 20px 10px;
            font-size: 1.5rem;
            &:hover {
              cursor: default;
            }
          }

    img {
      width: 40px;
    }
  }
}


.main-label1 {
  display: flex;
  width: 100%;
  justify-content: center;

  .login-contactus-forms-label {
    @include forms($blue);
    display: block;
    text-align: center;

    .h2-form {
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
        &:after {
          cursor: default;
        }    
      }
      
    .agree {
      color: white;
    }
  }  
}


/*                                  LOGIN.HTML PAGE EDITION BELOW                                */


.loginmain {
  margin: 5% 0% 5% 0%;
  text-align: center;
  h1 {
    margin-bottom: 0%;
    font-size: 1.5rem;
    margin: 2% 0% 1% 0%;
      &:hover {
        cursor: default;
      }
    }
  p {
    font-size: 1.2rem;
    margin-top: 50px;
    .userpass {
      font-weight: 500;
    }
  }
}


.label1 {
  display: flex;
  justify-content: center;
  margin: 2% 0%;

    .loginform {
    @include forms($blue);
    display: block;
    text-align: center;
    margin-top: 20px;
    
    .usernpass {
      color: white;
    }
  }
}


.label2 {
  font-size: 1.5rem;
  font-weight: 400;
  h2 {
    margin: 10px;
    font-weight: 400;
  }
  a {
    color: black;
    font-size: 1.5rem;
    a:hover {
      color: $blue;
    }
  }
}

@media only screen and (max-width: 766px) {
  body {
    font-size: 16px;
  }

  nav a {
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.5rem;
  }
  .label2 {
    font-size: 1rem;
  }

}




/*                                  FAQ.HTML PAGE EDITION BELOW                                */


.header-label1 {
  justify-content: center;
  display: inline-flex;
  width: 50%;
  align-items: center;
    h1 {
    margin-right: 20px;
    padding-bottom: 10px;
      &:hover {
        border-bottom: 1px solid $blue;
        color: $blue;
        cursor: default;
      }
    }
  }

ul li {
  list-style: none;
    a {
      color: black;
      text-decoration: none;
    }
  
}

.main-contact-us {
  display: flex;
    .faq {
    text-align: center;
    flex: 1;
    .main-label2 {
      text-align: center;
      margin: 5% 0% 2% 0%;
    }
    .qanda {
      margin: 4% 0% 4% 0%;
      border-bottom: 1px solid black;
        .question {
          display: inline-block;
      }
        img {
          vertical-align: middle;
      }
        .answer {
          margin: 0%;
          padding: 20px;
      }
    }
  }
}


.asb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
    img {
      margin: 0px 0px 20px 0px;
      width: 60%;
      height: 400px;
    }
}


/* Mobile Media Query */

@media screen and (max-width: 426px) {
  .main-contact-us {
    display: block;
  }

  .asb img {
    width: 80%;
  }

  .header-label1 {
    width: 100%;
  } 

}

/*                                 CONTACTUS.HTML EDITION BELOW                                */


.header-label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 1% 0%;
    .header-label3 {
    text-align: center;
       h1 {
        font-size: 1.5rem;
      }
    }
}


.main-label1 {
  display: flex;
  align-items: center;
  justify-content: center;
  .login-contactus-forms-label {
    @include forms($blue);
    display: block;
    text-align: center;
    .h2-form {
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
    }
    p {
      color: white;
    }
  }
}

.socialmedia img {
  display: inlineblock;
  height: 50px;
  padding: 0% 1%;
}


/*                                 CHECKOUT.HTML PAGE EDITION BELOW                                */


.checkout-page {
  display:flex;
    .shipping-label {
      width: 50%;
      .shipping-headers {
          h3 {
            text-transform: uppercase;
            font-size: 1em;
            background-color: $fadeout-blue;
            margin: 10px 0px;
            padding: 10px;
        }
      }
    }
  }